* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font: 16px Verdana, sans-serif;
}

.container {
    height: 99vw;
    width: 98.7vw;
}

.m0 {
    margin: 0;
}

.p0 {
    padding: 0;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.bg-lb {
    background-color: #333;
}

.bg-db {
    background-color: #000;
}

.bg-w {
    background-color: #fff;
}

ul {
    list-style-type: none;
    overflow: hidden;
    font-size: 20px;
}

li {
    float: left;
}

li a {
    text-decoration: none;
    display: block;
    padding: 10px;
    color: #000;
    font-weight: 700;
    font-family: Verdana, sans-serif;
}

.fa {
    color: #fff;
    font-size: 30px;
    line-height: 30px;

}

.sidepane {
    height: 90%;
    width: 15%;
}

.sidepane-ul {
    padding: 0;
    margin: 0;
    width: auto;
    height: 100%;
}

.sidepane-ul li {
    float: none;
    margin: 0 2px 2px;
    background-color: #fff;
    font-size: 15px;
}

.sidepane-ul a:hover {
    background-color: #000;
    color: #fff;
}

.mainpage {
    padding: 5px;
    float: left;
    width: 85%;
    height: 90%;
    background-color: #ccc;
}

.footer {
    height: 6%;
    color: #fff;
    text-align: center;
    padding: 2px;
    clear: both;
}

.titlebar {
    height: 4%;
    width: 100%;
    clear: both;
}

.titlebar ul {
    height: -webkit-fill-available;
}

.titletext {
    font-size: 28px;
    color: #fff;
    text-align: center;
    display: block;
    width: 92%;
    font-weight: 700;
    line-height: 55px;
}